body {
  background-color: black;
  color: white;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
}

.clutt35icon {
  float: left;
  margin: 10px;
}

.lixoicon {
  float: left;
  margin: 10px;
}

.memzicon {
  float: left;
  margin: 10px;
}

.monoxideicon {
  float: left;
  margin: 10px;
}

.furryvirusicon {
  float: left;
  margin: 10px;
}

.quantizericon {
  float: left;
  margin: 10px;
}

h3 {
  margin: 5px;
}
